
// Animations
@keyframes showForm {
    0% { 
        display: block;
        opacity: 0; 
        transform: translateX(-$animation_move_length);
    };
    100% { 
        opacity: 1;
        transform: translateX(0);
    }
};

@keyframes hideForm {
    0% { 
        opacity: 1; 
        transform: translateX(0);
    };
    100% { 
        opacity: 0; 
        transform: translateX($animation_move_length);
        display: none;
    }
};