
// Aside
aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: $color_primary;
    height: 100%;
    nav {
        text-align: center;
        a {
            padding: 2rem;
            display: block;
            background-color: $color_primary;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;
            transition: $transition;
        }
        a.active {
            background-color: #fff;
            color: $color_primary;
        }
    }
}