
// Form
.form {
    transition: width 0.3s;
    display: none;
    text-align: center;
    width: 30%;
    max-width: 500px;
    h2 { margin-top: 0; }
    input {
        display: block;
        margin-top: 2rem;
        width: 100%;
        transition: $transition;
    }
}

.form.show {
    display: block;
    animation: showForm $animation_duration;
    animation-fill-mode: none;
}

.form.hide {
    animation: hideForm $animation_duration;
    animation-fill-mode: forwards;
}